USE [Inventario]
GO

/****** Object:  Table [dbo].[inventario]    Script Date: 19/05/2021 10:46:17 p. m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[inventario](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Categoria] [varchar](255) NOT NULL,
	[Codigo] [varchar](255) NOT NULL,
	[CodigoProveedor] [varchar](255) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[Fabricante] [varchar](255) NOT NULL,
	[Inventario] [int] NOT NULL,
	[Moneda] [varchar](255) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[NombreImagen] [varchar](255) NOT NULL,
	[Precio] [float] NOT NULL,
	[TipoProveedor] [varchar](255) NOT NULL,
	
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
