<section class="product_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <h5>
                        Informacion para el Envio
                    </h5>
                    <form [formGroup]="informacionForm">
                        <div>
                            Nombre Envio
                        <input type="text" placeholder="Nombre Envio" formControlName="NombreEnvio" >
                        </div>
                        <div>
                            Apellido Envio
                        <input type="text" placeholder="Apellido Envio" formControlName="ApellidoEnvio" >
                        </div>
                        <div>
                            Direccion Envio
                        <input type="text" placeholder="Direccion Envio" formControlName="DireccionEnvio" >
                        </div>
                        <div>
                            Telefono
                        <input type="text" placeholder="Telefono Envio" formControlName="TelefonoEnvio" >
                        </div>
                        <div>
                            Ciudad Envio
                        <input type="text" placeholder="Ciudad Envio" formControlName="CiudadEnvio" >
                        </div>
                        <div>
                            Codigo Postal Envio
                        <input type="text" placeholder="Codigo Postal Envio" formControlName="CodigoAreaEnvio" >
                        </div>

                        <div>    
                            Tipo de Pago
                        <select formControlName="medios" id="medios" #mySelect (change)="onMediosChange(mySelect.value)">
                            <option *ngFor="let medio of medios" [value]="medio.id">
                                {{medio.desMedioPago}}
                            </option>
                        </select>                      
                        </div>
                        <div *ngIf="mostrarCC" >
                            <div>
                                Titular
                            <input type="text" placeholder="Titular" formControlName="CCtitular" >
                        </div>

                        <div>

                            Tipo Tarjeta

                            <select formControlName="CCtipo">
                                <option value="VI">Visa</option>
                                <option value="MC">Master Card</option>
                                <option value="AE">AMEX</option>
                              </select>

                        </div>
    
                        <div>
                            Numero
                        <input type="text" placeholder="NUMERO" formControlName="CCnumero" >
                    </div>
                    <div>
                            Expiracion
                        <input type="text" placeholder="MM/YY" formControlName="CCvencimiento" >
                    </div>
                        <div>
                            CCV
                        <input type="text" placeholder="CCV" formControlName="CCV" >
                        </div>
                    </div>
                    </form>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <h5>
                        Detalle del pago
                    </h5>
                    <div *ngIf="cotizar">
                        <h5>
                            Unidades
                        </h5>
                        <p>
                            {{ cotizar.moneda }} {{ cotizar.unidades }}    
                        </p>    
                        <h5>
                            Neto
                        </h5>
                        <p>
                            {{ cotizar.moneda }} {{ cotizar.neto }}    
                        </p>    
                        <h5>
                            Impuestos
                        </h5>
                        <p>
                            {{ cotizar.moneda }} {{ cotizar.impuesto }}    
                        </p>    
                        <h5>
                            Transporte
                        </h5>
                        <p>
                            {{ cotizar.moneda }} {{ cotizar.transporte }}    
                        </p>    
                        <h5>
                            Total
                        </h5>
                        <p>
                            {{ cotizar.moneda }} {{ cotizar.total }}    
                        </p>     
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <h5>
                        Facturacion
                    </h5>
                    <form [formGroup]="facturacionForm">
                        <div>
                            Direccion Facturacion
                        <input type="text" placeholder="Direccion Facturacion" formControlName="DireccionFacturacion" >
                        </div>
                        <div>
                            Correo Electronico Facturacion
                        <input type="text" placeholder="Email Facturacion" formControlName="CorreoElectronicoFacturacion" >
                        </div>
                    </form>
                    
                    <button class="generic_button" (click)="pagarOrden()">
                        Pagar
                    </button>
                </div>
            </div>            
        </div>
    </div>
</section>

